<section class="container">
    <h2>TOP 10 ORGANISMOS DEL ESTADO CON MAYOR NÚMERO DE AUDIENCIAS OTORGADAS A PROVEEDORES</h2>
 
    <!--<table class="table dataTable no-footer" id="top_10_orgamnizmos" role="grid" aria-describedby="top_10_orgamnizmos_info">
       
        <thead>
            <tr role="row"><th scope="col" class="text-center sorting_asc" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Posición: activate to sort column descending" style="width: 59px;">Posición</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Número total de audiencias: activate to sort column ascending" style="width: 118px;">Número total de audiencias</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Organismo: activate to sort column ascending" style="width: 251px;">Organismo</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Proveedor / Sujeto activo  : activate to sort column ascending" style="width: 337px;">Proveedor / Sujeto activo  </th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Audiencias: activate to sort column ascending" style="width: 77px;">Audiencias</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Licitaciones : activate to sort column ascending" style="width: 82px;">Licitaciones </th></tr>
        </thead>
        <tbody> 
          <% @top10 = 0 %>     
          <% @top_compradores_estado.each do |org| %> 
          <% @top10 += 1 %>
            <tr role="row" class="even">
              <td scope="col" class="text-center sorting_1"><%= @top10 %></td>
              <td scope="col" class="text-center"><%= contadoraudiencias(org[1]).first[0]%></td>
              <td scope="col" class="text-center"><%= org[1] %></td>
              <td scope="col" class="text-center">
                <%= link_to org[2], ( { controller:'buscador', action: 'activo', rut: org[5], tipo: 'activo' } ) %>
              </td>
              <td scope="col" class="text-center">
                <%= link_to audienciasorg(org[5],org[1]).first[0], ( { controller:'audiencia', action: 'detalle', ruta: 'index', rut: org[5], nombre: org[1] } ) %>
              </td>
              <td scope="col" class="text-center">
                <%= link_to contratosorg(org[5],org[1]).first[0], ( { controller:'licitacion', action: 'licitacion', sujeto: 'activo', rut: org[5], org: org[1] } ) %>         
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>-->
<table class="table dataTable no-footer" id="top_10_orgamnizmos" role="grid" aria-describedby="top_10_orgamnizmos_info">
       
        <thead>
            <tr role="row"><th scope="col" class="text-center sorting_asc" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Posición: activate to sort column descending" style="width: 59px;" aria-sort="ascending">Posición</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Número total de audiencias: activate to sort column ascending" style="width: 118px;">Número total de audiencias</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Organismo: activate to sort column ascending" style="width: 251px;">Organismo</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Proveedor / Sujeto activo  : activate to sort column ascending" style="width: 337px;">Proveedor / Sujeto activo  </th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Audiencias: activate to sort column ascending" style="width: 77px;">Audiencias</th><th scope="col" class="text-center sorting" tabindex="0" aria-controls="top_10_orgamnizmos" rowspan="1" colspan="1" aria-label="Licitaciones : activate to sort column ascending" style="width: 82px;">Licitaciones </th></tr>
        </thead>
        <tbody> 
        <tr role="row" class="odd">
              <td scope="col" class="text-center sorting_1">1</td><!-- Posición-->
              <td scope="col" class="text-center">4009</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Subsecretaría de Transportes</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=76.582.410-9&amp;tipo=activo">SOLUTIVA CONSULTORES LIMITADA</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Subsecretar%C3%ADa+de+Transportes&amp;rut=76.582.410-9&amp;ruta=index">1</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Subsecretar%C3%ADa+de+Transportes&amp;rut=76.582.410-9&amp;sujeto=activo">9</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="even">
              <td scope="col" class="text-center sorting_1">2</td><!-- Posición-->
              <td scope="col" class="text-center">2804</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Subsecretaría del Medio Ambiente</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=76.079.340-K&amp;tipo=activo">SETEC SERVICIOS TECNOLOGICOS AMBIENTALES LIMITADA</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Subsecretar%C3%ADa+del+Medio+Ambiente&amp;rut=76.079.340-K&amp;ruta=index">2</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Subsecretar%C3%ADa+del+Medio+Ambiente&amp;rut=76.079.340-K&amp;sujeto=activo">33</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="odd">
              <td scope="col" class="text-center sorting_1">3</td><!-- Posición-->
              <td scope="col" class="text-center">2361</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Servicio de Impuestos Internos</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=9.633.707-8&amp;tipo=activo">JUAN RUPERTO CANCINO GARRIDO</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Servicio+de+Impuestos+Internos&amp;rut=9.633.707-8&amp;ruta=index">2</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Servicio+de+Impuestos+Internos&amp;rut=9.633.707-8&amp;sujeto=activo">2</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="even">
              <td scope="col" class="text-center sorting_1">4</td><!-- Posición-->
              <td scope="col" class="text-center">2072</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Subsecretaría de Energía</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=71.630.200-8&amp;tipo=activo">CORP DE DESARROLLO TECNOLOGICO</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Subsecretar%C3%ADa+de+Energ%C3%ADa&amp;rut=71.630.200-8&amp;ruta=index">4</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Subsecretar%C3%ADa+de+Energ%C3%ADa&amp;rut=71.630.200-8&amp;sujeto=activo">7</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="odd">
              <td scope="col" class="text-center sorting_1">5</td><!-- Posición-->
              <td scope="col" class="text-center">1996</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Dirección de Vialidad</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=80.621.200-8&amp;tipo=activo">MERCK S A</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Direcci%C3%B3n+de+Vialidad&amp;rut=80.621.200-8&amp;ruta=index">0</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Direcci%C3%B3n+de+Vialidad&amp;rut=80.621.200-8&amp;sujeto=activo">0</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="even">
              <td scope="col" class="text-center sorting_1">6</td><!-- Posición-->
              <td scope="col" class="text-center">1958</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Consejo Nacional de la Cultura y las Artes</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=76.062.012-2&amp;tipo=activo">DITECSUR LIMITADA</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Consejo+Nacional+de+la+Cultura+y+las+Artes&amp;rut=76.062.012-2&amp;ruta=index">8</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Consejo+Nacional+de+la+Cultura+y+las+Artes&amp;rut=76.062.012-2&amp;sujeto=activo">11</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="odd">
              <td scope="col" class="text-center sorting_1">7</td><!-- Posición-->
              <td scope="col" class="text-center">1953</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Dirección del Trabajo</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=15.430.194-1&amp;tipo=activo">DEBORA FRANCISCA URETA CERDA</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Direcci%C3%B3n+del+Trabajo&amp;rut=15.430.194-1&amp;ruta=index">1</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Direcci%C3%B3n+del+Trabajo&amp;rut=15.430.194-1&amp;sujeto=activo">20</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="even">
              <td scope="col" class="text-center sorting_1">8</td><!-- Posición-->
              <td scope="col" class="text-center">1921</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Gendarmería de Chile</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=92.475.000-6&amp;tipo=activo">KAUFMANN S A VEHICULOS MOTORIZADOS</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Gendarmer%C3%ADa+de+Chile&amp;rut=92.475.000-6&amp;ruta=index">3</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Gendarmer%C3%ADa+de+Chile&amp;rut=92.475.000-6&amp;sujeto=activo">112</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="odd">
              <td scope="col" class="text-center sorting_1">9</td><!-- Posición-->
              <td scope="col" class="text-center">1863</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Servicio Nacional de Geología y Minería</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=80.621.200-8&amp;tipo=activo">MERCK S A</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Servicio+Nacional+de+Geolog%C3%ADa+y+Miner%C3%ADa&amp;rut=80.621.200-8&amp;ruta=index">1</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Servicio+Nacional+de+Geolog%C3%ADa+y+Miner%C3%ADa&amp;rut=80.621.200-8&amp;sujeto=activo">9</a>         
              </td><!-- Licitaciones -->
            </tr><tr role="row" class="even">
              <td scope="col" class="text-center sorting_1">10</td><!-- Posición-->
              <td scope="col" class="text-center">1847</td><!-- Total Audiencias-->
              <td scope="col" class="text-center">Subsecretaría de Educación</td><!-- Organismo-->
              <td scope="col" class="text-center">
                <a href="/buscador/activo?rut=76.516.650-0&amp;tipo=activo">CLAUDIO BONILLA Y COMPANIA LIMITADA ASESORIAS E INVERSIONES</a>
              </td><!-- Proveedor-->
              <td scope="col" class="text-center">
                <a href="/audiencia/detalle?nombre=Subsecretar%C3%ADa+de+Educaci%C3%B3n&amp;rut=76.516.650-0&amp;ruta=index">0</a>
              </td><!-- Audiencias-->
              <td scope="col" class="text-center">
                <a href="/licitacion/licitacion?org=Subsecretar%C3%ADa+de+Educaci%C3%B3n&amp;rut=76.516.650-0&amp;sujeto=activo">0</a>         
              </td><!-- Licitaciones -->
            </tr></tbody>
    </table>
</section>