

<section class="container top-nav">
    <h1>Detalle de Audiencias de sujeto pasivo Rut: <%= params[:id] %></h1>
    <table class="table">

        <thead>
            <tr>
                <th scope="col" class="text-center">Sujeto Pasivo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tema</th>
                <th scope="col">Materias</th>
                <th scope="col" class="text-center">Sujeto activo</th>
                <th scope="col" class="text-center">Cargo</th>
                <th scope="col" class="text-center">Organismo</th>
            </tr>
        </thead>
        <tbody>
            <% @audiencia_detalle.each do |a| %>
                <tr>
                    <%= a %>
                    <td scope="col" class="text-center">  <%= a[0] %>  <%= a[1] %> </td><!-- Sujeto activo -->
                    <td scope="col" class="text-center"> <%= a[4]  %></td><!-- Fecha -->
                    <td scope="col" class="text-center"> <%= a[5]  %> </td>
                    <td scope="col" class="text-center">   <%= a[2] %></td><!-- Materias -->
                    <td scope="col" class="text-center">   <%= a[6] %></td><!-- Sujeto Pasivo -->
                    <td scope="col" class="text-center"> <%= a[7] %> </td>
                    <td scope="col" class="text-center">  <%= a[9] %></td>  <!-- Organizmo -->

                </tr>
            <% end %>
        </tbody>
    </table>
    
</section>

