

<section class="container top-nav">
    <% if @rut %>
         <h1>Detalle de Audiencias para <%= @rut %></h1>
    <% else %>
        <h1>Detalle de Audiencias de sujeto activo: <%= @audiencia_detalle.first[0]+' '+@audiencia_detalle.first[1] %></h1>
    <% end %>
    <table class="table" id="detalle">

        <thead>
            <tr>
                <th scope="col" class="text-center">Sujeto activo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tema</th>
                <th scope="col">Materias</th>
                <th scope="col" class="text-center">Sujeto pasivo</th>
                <th scope="col" class="text-center">Cargo</th>
                <th scope="col" class="text-center">Organismo</th>
            </tr>
        </thead>
        <tbody>
            <% @audiencia_detalle.each do |a| %>
                <tr>

                    <td scope="col" class="text-center">  <%= a[0] %>  <%= a[1] %> </td><!-- Sujeto activo -->
                    <td scope="col" class="text-center"> <%= a[4]  %></td><!-- Fecha -->
                    <td scope="col" class="text-center"> <%= a[5]  %> </td>
                    <td scope="col" class="text-center">   <%= a[2] %></td><!-- Materias -->
                    <td scope="col" class="text-center">   <%= a[6] %></td><!-- Sujeto Pasivo -->
                    <td scope="col" class="text-center"> <%= a[7] %> </td>
                    <td scope="col" class="text-center">  <%= a[8] %></td>  <!-- Organizmo -->

                </tr>
            <% end %>
        </tbody>
    </table>
    
</section>

