

<section class="container top-nav">
    <h1>Detalle de Audiencia ID: <%= params[:id] %></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">Sujeto activo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tema</th>
                <th scope="col">Materias</th>
                <th scope="col" class="text-center">Carga</th>
                <th scope="col" class="text-center">Sujeto pasivo</th>
                <th scope="col" class="text-center">Organismo</th>
            </tr>
        </thead>
        <tbody>
            <% @audiencia.each do |a| %>
                <tr>
                    <td scope="col" class="text-center">  <%= a[0] %>  <%= a[1] %> </td><!-- Sujeto activo -->
                    <td scope="col" class="text-center">  </td>
                    <td scope="col" class="text-center">  </td>
                    <td scope="col" class="text-center">   <%= a[2] %></td><!-- Materias -->
                    <td scope="col" class="text-center">   <%= a[4] %></td>
                    <td scope="col" class="text-center">  </td>
                    <td scope="col" class="text-center">  <%= a[3] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
</section>

