

<section class="container top-nav">
<section id="element">
    <h1>Encuentra información de sujeto activo o pasivo</h1>
    <br/>
    <form action="<%= buscador_activo_path %>" method = 'get' class="form-inline row">
        <div class="col-12">
        Sujeto &nbsp;&nbsp;<input type="checkbox" value="activo" id="check1" name="tipo" checked data-toggle="toggle" data-on="Activo" data-off="Pasivo" data-onstyle="primary" data-offstyle="info" data-style="quick">
         <%# Sujeto activo  <%= radio_button_tag  'tipo', 'activo', params[:tipo], :checked => true %>  
         <%# Sujeto pasivo  <%= radio_button_tag  'tipo', 'pasivo', params[:tipo] %>  
        </div>
            <input class="form-control mr-sm col-9 center" name="rut" type="search" placeholder="Buscar sujeto activo o pasivo" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm" type="submit"><i class="fas fa-search"></i></button>
        <div class="col-12">
            Desde   &nbsp;&nbsp; <%# date_field :desde, params[:desde], :value => '2014-01-01' %>
            <input class="form-control" type="date" name="desde" value="2014-01-01"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Hasta  &nbsp;&nbsp;  <%# date_field :hasta, params[:hasta], :value => Time.now.strftime('%Y-%m-%d') %>
            <input class="form-control" type="date" name="hasta" value="Time.now.strftime('%Y-%m-%d')">
        </div>
    </form>
</section>

    <% if @busquedalobbysta  %>
        <h1 class="text-center">Organismo: <%= @busquedalobbysta.first[0] %></h1>
        <h1 class="text-center">RUT: <%= @busquedalobbysta.first[1] %> </h1>
        <h1 class="text-center">Monto: $<%= @busquedalobbysta.first[2] %>  </h1>
        <h3> <%= params[:desde] %></h3>
        <h3>  <%= params[:hasta] %></h3>
        <h3>  <%= params[:tipo] %></h3>
    <% else %>
        <h1 class="text-center">Busca un sujeto activo o pasivo en el buscador de arriba</h1>
    <% end %>

    <h2>N° AUDIENCIAS QUE PARTICIPO</h2>
    <table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">Sujeto activo</th>
            <th scope="col">Remunerado</th>
            <th scope="col">Cantidad de audiencias</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
<% if @audiencias  %>
 <% @audiencias.each do |t| %>
            <tr>
                <th class="text-center"><%= t[0] %> <%= t[1] %></th>
                <th class="text-center"><%= t[2] %></th>
                <th class="text-center"> Cantidad pendiente <%=  t[3] %></th>
                <th><%= link_to 'detalle', controller: 'audiencia', action: 'detalle',  id: t[4] %> </th>
            </tr> 
        <% end %> 
<% end %>
    </tbody>
    </table>
      <h2>LICITACIONES ADJUDICADAS</h2>
    <table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center"> Sujeto   </th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <%
=begin%>
 <% @busquedalobbysta.each do |t| %>
            <tr>
                <th>1</th>
                <th><%= t[0] %></th>
                <th><%= t[1] %></th>
                <th><%= t[2] %></th>
                <th><%= t[3] %></th> 
            </tr>
        <% end %> 
<%
=end%>
    </tbody>
    </table>
</section>

