

<section class="container top-nav">
<section id="element">
    <h1>Encuentra informaci처n de sujeto activo o pasivo</h1>
    <br/>
    <form action="<%= buscador_activo_path %>" method = 'get' class="form-inline row">
        <div class="col-12">
        Sujeto &nbsp;&nbsp;<input type="checkbox" value="activo" id="check1" name="tipo" checked data-toggle="toggle" data-on="Activo" data-off="Pasivo" data-onstyle="primary" data-offstyle="info" data-style="quick">
         <%# Sujeto activo  <%= radio_button_tag  'tipo', 'activo', params[:tipo], :checked => true %>  
         <%# Sujeto pasivo  <%= radio_button_tag  'tipo', 'pasivo', params[:tipo] %>  
        </div>
            <input class="form-control mr-sm col-9 center" name="rut" type="text" id="lengua" placeholder="Buscar sujeto activo o pasivo" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm" type="submit"><i class="fas fa-search"></i></button>
        <div class="col-12">
            Desde   &nbsp;&nbsp; <%# date_field :desde, params[:desde], :value => '2014-01-01' %>
            <input class="form-control" type="date" name="desde" value="2014-01-01"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Hasta  &nbsp;&nbsp;  <%# date_field :hasta, params[:hasta], :value => Time.now.strftime('%Y-%m-%d') %>
            <input class="form-control" type="date" name="hasta" value="<%= Time.now.strftime('%Y-%m-%d') %>">
        </div>
    </form>
</section>

    <% if @busquedalobbysta  %>
        <% if params[:tipo] == 'activo'%>
        <h1 class="text-center">Organismo: <%= @busquedalobbysta.first[0] %></h1>
        <h1 class="text-center">RUT: <%= @busquedalobbysta.first[1] %> </h1>
        <h1 class="text-center">Monto: $<%= @busquedalobbysta.first[2].to_s.gsub(",",".") %>  </h1>
        <% else %>
        <h1>Sujeto pasivo</h1>
         <h1 class="text-center">Organismo: <%= @datos.first[1] %></h1>
        <h1 class="text-center">RUT: <%= @datos.first[0] %> </h1>
        <% end %>
    <% else %>
        <h1 class="text-center">Busca un sujeto activo o pasivo en el buscador de arriba</h1>
    <% end %>
    <% if params[:tipo] == 'activo' %>
        <h2>N째 AUDIENCIAS QUE PARTICIPO</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Sujeto activo</th>
                    <th scope="col">Remunerado</th>
                    <th scope="col">Cantidad de audiencias <%= @cantidad_audiencias %></th>
                    <th scope="col">Detalle</th>
                </tr>
            </thead>
            <tbody>
                <% if @audiencias1  %>
                <% @audiencias1.each do |t| %>
                            <tr>
                                <th class="text-center"><%= t[0] %> <%= t[1] %></th>
                                <th class="text-center"><%= t[2] %></th>
                                <th class="text-center"> Cantidad pendiente <%=  t[3] %></th>
                                <th class="text-center"> 
                                    <%=  link_to controller: 'audiencia', action: 'detalle',  id: t[4], target: '_blank' do %>
                                        <i class='fas fa-search'></i> 
                                    <% end %>
                                </th>
                            </tr> 
                        <% end %> 
                <% end %>
            </tbody>
        </table>
      <h2>LICITACIONES ADJUDICADAS</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center"> TIPO   </th>
                    <th scope="col">Descripci처n</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Detalle</th>
                </tr>
            </thead>
            <tbody>
            <% @licitaciones_que_participo.each do |t| %>
                    <tr>
                        <th class="text-center"><%= t[0] %></th><!-- Tipo -->
                        <th class="text-center"><%= descripcionDeTipo(t[0]) %></th><!-- Descripcion -->
                        <th class="text-center"><%= t[1] %></th>
                        <th class="text-center">
                            <%=  link_to controller: 'licitacion', action: 'licitacion', rut: @busquedalobbysta.first[1], tipo: t[0], target: '_blank' do %>
                                <i class='fas fa-search'></i> 
                            <% end %>
                        </th> 
                    </tr>
                <% end %> 
            </tbody>
        </table>
    <% elsif params[:tipo] == 'pasivo' %>
        <h2>Sujetos pasivos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Sujeto pasivo</th>
                    <th scope="col" class="text-center">Rut</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Cantidad de audiencias</th>
                    <%
=begin%>
 <th scope="col">Detalle</th> 
<%
=end%>
                </tr>
            </thead>
            <tbody>
                <% if @busquedalobbysta  %>
                    <% @busquedalobbysta.each do |t| %>
                            <tr>
                                <th class="text-center"><%= t[0] %> </th>
                                <th class="text-center"><%= t[1] %> </th>
                                <th class="text-center"> <%=  t[2] %></th>
                                <th class="text-center"> <%=  t[3] %></th>
                               
                                <%
=begin%>
 <th class="text-center">
                                    <%=  link_to controller: 'audiencia', action: 'detalleaudiencia', id: t[1] , target: '_blank' do %>
                                        <i class='fas fa-search'></i> 
                                    <% end %>
                                </th>  
<%
=end%>
                            </tr> 
                        <% end %> 
                <% end %>
            </tbody>
        </table>
      <h2>LICITACIONES</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center"> TIPO   </th>
                    <th scope="col">Descripci처n</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Detalle</th>
                </tr>
            </thead>
            <tbody>
            <% @licitaciones_otorgadas.each do |t| %>
                    <tr>
                        <th class="text-center"><%= t[0] %></th><!-- Tipo -->
                        <th class="text-center"><%= descripcionDeTipo(t[0]) %></th><!-- Descripcion -->
                        <th class="text-center"><%= t[1] %></th>
                        <% if @busquedalobbysta %>
                            <th class="text-center">
                                <%=  link_to controller: 'licitacion', action: 'licitacion', rut: @datos.first[0], tipo: t[0], target: '_blank' do %>
                                    <i class='fas fa-search'></i> 
                                <% end %>
                            </th> 
                        <% else %>
                             <th>a
                             </th>
                        <% end %>
                    </tr>
                <% end %> 
            </tbody>
        </table>

    <% end %>
</section>

<!-- jquery-magicsearch-master -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

  var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#lengua" ).autocomplete({
      source: availableTags
    });
    </script>