

<section class="container top-nav">
    <% if params[:tipo] %>
        <h1>Detalle de Licitaciones Adjudicadas de tipo <%= params[:tipo] %></h1>
    <% else %>
         <h1>Detalle de Licitaciones Adjudicadas a sujeto con rut  <%= params[:rut] %></h1>
    <% end %>
    <table class="table" id="detalle_licitaciones_adjudicadas">
        <thead>
            <tr>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col">Código</th>
                <th scope="col">Región</th>
                <%
=begin%>
 <th scope="col">Tipo de licitación</th> 
<%
=end%>
                <th scope="col">Toma razón</th>
                <th scope="col" class="text-center">Otorgante</th>
                <th scope="col" class="text-center">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <% if @licitacion_detalle.size > 1 %>
              
           
                <% @licitacion_detalle.each do |l| %>
                    <tr>    
                        <td scope="col" class="text-center"> <%= l[0] %>  </td><!-- Fecha publicación -->
                        <td scope="col" class="text-center"> <%= l[1] %>  </td> <!-- Código -->
                        <td scope="col" class="text-center"> <%= l[2] %></td> <!-- Región -->
                        <td scope="col" class="text-center"> <%= l[5] %></td><!-- Toma Razón -->
                        
                        <td scope="col" class="text-center"> <%= link_to l[3], controller: 'buscador', action:'activo', tipo:'pasivo', rut: l[4] %> </td><!-- Proevedor -->
                        <td scope="col" class="text-center">
                            <a href="<%= l[6] %>" target="_blank"> <i class='fas fa-search'></i> </a>
                        </td>
                    </tr>
                <% end %>
            <% else %>
               <tr class="text-center">
                        <td scope="col" class="text-center">   No existe este detalle en la APi de Chilecompra</td><!-- Fecha publicación -->
                </tr>
                
            <% end  %>
        </tbody>
    </table>
    
</section>

