

<section class="container top-nav">
    <h1>Detalle de Licitaciones Adjudicadas de tipo <%= params[:tipo] %></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col">Código</th>
                <th scope="col">Región</th>
                <th scope="col">Toma razón</th>
                <th scope="col" class="text-center">Otorgante</th>
                <th scope="col" class="text-center">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <% @licitacion_detalle.each do |l| %>
                <tr>
                    <td scope="col" class="text-center">  <%= l[0] %>  </td><!-- Fecha publicación -->
                    <td scope="col" class="text-center"><%= l[1] %>  </td> <!-- Código -->
                    <td scope="col" class="text-center">  <%= l[2] %></td> <!-- Región -->
                    <td scope="col" class="text-center">   <%= l[5] %></td><!-- Toma Razón -->
                    
                    <td scope="col" class="text-center">   <%= l[3] %> - <%= l[4] %> </td><!-- Proevedor -->
                    <td scope="col" class="text-center">
                        <a href="<%= l[6] %>" target="_blank"> <i class='fas fa-search'></i> </a>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
</section>

