<!DOCTYPE html>
<html>
  <head>
    <title>Lobbyscalizav2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
  
    <%
=begin%>
 <nav>
      <img src="/static/img/logo.png">
      <div class="links">
        <a href="">Sobre nosotros</a>
        <a href="">¿Qué es lobbyscaliza?</a>  
        <a href="">Top 10</a>
        <a href="">Busca compradores y proveedores </a>
      </div>
    </nav> 
<%
=end%>
    
    <div class="yield">
      <%= yield %>
    </div>
    <footer>
    
      <div class="row">
        <div class="col-lg-4">  
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">¿Que es lobbyscaliza?</a></li>
            <li><a href="">Top 10</a></li>
            <li><a href="">Busca compradores y proveedores</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <img src="/static/img/logo.png">
        </div>
        <div class="col-lg-4">
          <ul>
            <li><a href="">Román Díaz #445, Providencia, Región Metropolitana</a></li>
            <li><a href="">+56 9 95090351</a></li>
            <li><a href="">contacto@fundacionmultitudes.org</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
