<!DOCTYPE html>
<html>
  <head>
    <title>Lobbyscalizav2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%
=begin%>
 <link href="https://unpkg.com/tabulator-tables@4.1.5/dist/css/tabulator.min.css" rel="stylesheet"> 
<%
=end%>
       <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  </head>

  <body>

   <nav>
      <img src="/static/img/logo.png">
      <div class="links">
        <%= link_to 'Inicio', index_index_path %>
        <%= link_to '¿Qué es lobbyscaliza?', index_index_path(anchor: 'queeslobbyscaliza') %>
        <a href="https://www.fundacionmultitudes.org/sobre-nosotros" target="_blank">Sobre nosotros</a>
        <a href="http://servicioalusuario.chilecompra.cl/Solicitudes/?_ga=2.97578399.1483043964.1547565040-211959156.1545062883"  target="_blank">
          Denuncia Aquí
        </a>
        <%= link_to 'Busca comprador y proveedores', controller: 'buscador', action:'activo' %>
      </div>
    </nav> 

    
    <div class="yield">
      <%= yield %>
    </div>
    <footer class="row">
    
      
        <div class="col-lg-4">  
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">¿Que es lobbyscaliza?</a></li>
            <li><a href="">Top 10</a></li>
            <li><a href="">Busca compradores y proveedores</a></li>
          </ul>
        </div>
        <div class="col-lg-4 text-center">
          <img src="/static/img/logo.png">
        </div>
        <div class="col-lg-4">
          <ul>
            <li><a href="">Román Díaz #445, Providencia, Región Metropolitana</a></li>
            <li><a href="">+56 9 95090351</a></li>
            <li><a href="">contacto@fundacionmultitudes.org</a></li>
          </ul>
        </div> 

      
    </footer>

    <div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
     <%
=begin%>
 <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.5/dist/js/tabulator.min.js"></script> 
<%
=end%>

  <script  type="text/javascript"  src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
  <script>
  $('#top_lobbysta_proveedor').DataTable({  paging: false,  });
  $('#top_proveedores_estado').DataTable({  paging: false });
  $('#top10compradoresdelestado').DataTable({  paging: false });
  $('#top_10_orgamnizmos').DataTable({  paging: false });


    $('#audiencias_participo').DataTable();
    $('#licitaciones_adjudicadas').DataTable();
    $('#sujetos_pasivos_busquedas').DataTable();
    $('#licitaciones_otorgadas').DataTable();
    $('#detalle').DataTable();
    $('#detalle_licitaciones_adjudicadas').DataTable();
    $('#detalles_de_las_audiencias').DataTable();
      $("#test123").click(function(){
            var str = $("input[name='text123']").val()
            if (str.length>12){
                var n = str.substring(str.indexOf(",") + 2);
                document.getElementById('person_id').value=n; 
            };
          });
  // licitaciones_adjudicadas
  // sujetos_pasivos_busquedas
  // licitaciones_otorgadas

  </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="/static/js/main.js"></script>
  </body>
</html>
