<!DOCTYPE html>
<html>
  <head>
    <title>Lobbyscalizav2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%
=begin%>
 <link href="https://unpkg.com/tabulator-tables@4.1.5/dist/css/tabulator.min.css" rel="stylesheet"> 
<%
=end%>
       <%
=begin%>
 <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"> 
<%
=end%>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/datatables.min.css"/>
  </head>

  <body>

   <nav>
      <img src="/static/img/logo.png">
      <div class="links">
        <%= link_to 'Inicio', index_index_path %>
        <%= link_to '¿Qué es lobbyscaliza?', index_index_path(anchor: 'queeslobbyscaliza') %>
        <a href="https://www.fundacionmultitudes.org/sobre-nosotros" target="_blank">Sobre nosotros</a>
        <a href="http://servicioalusuario.chilecompra.cl/Solicitudes/?_ga=2.97578399.1483043964.1547565040-211959156.1545062883"  target="_blank">
          Denuncia Aquí
        </a>
        <%= link_to 'Busca comprador y proveedores', controller: 'buscador', action:'activo' %>
      </div>
    </nav> 

    
    <div class="yield">
      <%= yield %>
    </div>
    <footer class="row">
    
      
        <div class="col-lg-4">  
          <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">¿Que es lobbyscaliza?</a></li>
            <li><a href="">Top 10</a></li>
            <li><a href="">Busca compradores y proveedores</a></li>
          </ul>
        </div>
        <div class="col-lg-4 text-center">
          <img src="/static/img/logo.png"><br>
          <p style="color:white;margin-bottom:3px;margin-top:7.5px">Visitas</p>
          <img src="https://counter8.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=chpjfd5f1dmmammjl4b9gb8q977rn4wg" border="0" title="contador de visitas para web" alt="contador de visitas para web" style="width:50px;">


        </div> 
        <div class="col-lg-4">
          <ul>
            <li><a href="">Román Díaz #445, Providencia, Región Metropolitana</a></li>
            <li><a href="">+56 9 95090351</a></li>
            <li><a href="">contacto@fundacionmultitudes.org</a></li>
          </ul>
        </div> 

      
    </footer>

    <div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
     <%
=begin%>
 <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.5/dist/js/tabulator.min.js"></script> 
<%
=end%>
<!-- Table to JSON -->
<script src="https://cdn.jsdelivr.net/npm/table-to-json@0.13.0/lib/jquery.tabletojson.min.js" integrity="sha256-AqDz23QC5g2yyhRaZcEGhMMZwQnp8fC6sCZpf+e7pnw=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/datatables.min.js"></script>

<script>

  function tablaAJson(tabla){
    return JSON.stringify($(tabla).tableToJSON() )  
  }

  function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
  }


  var top_lobbysta_proveedor = tablaAJson('#top_lobbysta_proveedor');
  $( "#top_lobbysta_proveedor_btn" ).click(function() {
    download('top_lobbysta_proveedor.json',  top_lobbysta_proveedor );
  });

  

  $('#top_lobbysta_proveedor').DataTable({  
    paging: false,
    dom: 'Bfrtip',
    buttons: [
      'csv', 'excel', 'pdf'
      ]  
    });
   

  $('#top_proveedores_estado').DataTable({  
    paging: false,
    dom: 'Bfrtip',
    buttons: [
    'csv', 'excel', 'pdf'    
    ] });
  $('#top10compradoresdelestado').DataTable({  
    paging: false,
    dom: 'Bfrtip',
    buttons: [
      'csv', 'excel', 'pdf'
    ]

  });
  $('#top_10_orgamnizmos').DataTable({  
    paging: false,
    dom: 'Bfrtip',
    buttons: [
     'csv', 'excel', 'pdf'    
     ]
  });


    $('#audiencias_participo').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#historial_compradores').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#historial_proveedores').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#licitaciones_adjudicadas').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#sujetos_pasivos_busquedas').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#licitaciones_otorgadas').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#detalle').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#detalle_licitaciones_adjudicadas').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    $('#detalles_de_las_audiencias').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'csv', 'excel', 'pdf'
      ]
    });
    
      $("#test123").click(function(){
            var str = $("input[name='text123']").val()
            if (str.length>12){
                var n = str.substring(str.indexOf(",") + 2);
                document.getElementById('person_id').value=n; 
            };
          });
  // licitaciones_adjudicadas
  // sujetos_pasivos_busquedas
  // licitaciones_otorgadas

  </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="/static/js/main.js"></script>
  </body>
</html>
